hr {
  border: 1px solid;
}

/* body{
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color:#039be5;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 20px;
}

textarea
{
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color:slateblue;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 20px;
}

h1 {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 60px;
  letter-spacing: 2px;
  word-spacing: 2.8px;
  color: #039be5;
  font-weight: 500;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  text-decoration: none;
  line-height: 20px;
}
h2 {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  word-spacing: 2.8px;
  color: slateblue;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  padding: 10px 10px;
  text-decoration: none;
  line-height: 1px;
}

h3 {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 2.8px;
  color: #039be5;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  padding: 10px 10px;
  text-decoration: none;
  line-height: 1px;
}

h4 {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 2.8px;
  color: slateblue;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  padding: 1px 1px;
  text-decoration: none;
  line-height: 0px;
}

nav a {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 20px;
  letter-spacing: 0.4px;
  word-spacing: 2.8px;
  color: white;
  font-weight: 700;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  padding: 10px 50px;
  text-decoration: none;
  margin-top: 1px;
  display: inline-block;
  background-color: #039be5;
  border-radius: 0px;
}

nav a:hover {
  color: #cfd8dc;
  background-color: #039be5;
}
nav a.active {
  color: #039be5;
}


a:link {
  color: slateblue;
}

/* visited link
a:visited {
  color:  slateblue;
}

/* mouse over link
a:hover {
  color:  powderblue;
}

.flex {
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  box-sizing: border-box;
}
.flex-20 {
  -webkit-flex: 1 1 20%;
  -ms-flex: 1 1 20%;
  flex: 1 1 20%;
  max-width: 20%;
  max-height: 100%;
  box-sizing: border-box;
}

.layout-row .flex-33 {
  -webkit-flex: 1 1 calc(100% / 3);
  -ms-flex: 1 1 calc(100% / 3);
  flex: 1 1 calc(100% / 3);
  box-sizing: border-box;
}

.layout-row  .flex-66 {
  -webkit-flex: 1 1 calc(200% / 3);
  -ms-flex: 1 1 calc(200% / 3);
  flex: 1 1 calc(200% / 3);
  box-sizing: border-box;
}

.layout-row .flex-33 {
  max-width: calc(100% / 3);
  max-height: 100%;
}

.layout-row  .flex-66 {
  max-width: calc(200% / 3);
  max-height: 100%;
}

.layout-column .flex-33 {
  max-width: 100%;
  max-height: calc(100% / 3);
}

.layout-column  .flex-66 {
  max-width: 100%;
  max-height: calc(200% / 3);
} */
