body{
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color:#039be5;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 20px;
}

textarea
{
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color:slateblue;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 20px;
}

h1 {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 60px;
  letter-spacing: 2px;
  word-spacing: 2.8px;
  color: #039be5;
  font-weight: 500;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  text-decoration: none;
  line-height: 20px;
}
h2 {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  word-spacing: 2.8px;
  color: slateblue;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  padding: 10px 10px;
  text-decoration: none;
  line-height: 1px;
}

h3 {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 2.8px;
  color: #039be5;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  padding: 10px 10px;
  text-decoration: none;
  line-height: 1px;
}

h4 {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 2.8px;
  color: slateblue;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  padding: 1px 1px;
  text-decoration: none;
  line-height: 0px;
}

nav a {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 20px;
  letter-spacing: 0.4px;
  word-spacing: 2.8px;
  color: white;
  font-weight: 700;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  padding: 10px 50px;
  text-decoration: none;
  margin-top: 1px;
  display: inline-block;
  background-color: #039be5;
  border-radius: 0px;
}

nav a:hover {
  color: #cfd8dc;
  background-color: #039be5;
}
nav a.active {
  color: #039be5;
}


a:link {
  color: slateblue;
}

/* visited link */
a:visited {
  color:  slateblue;
}

/* mouse over link */
a:hover {
  color:  powderblue;
}
