.timestamp {
  font-size: .75em;
  color: grey;
  margin-top: 10px;
}

.btn {
  margin: 0 5pt;
}

.messages{
  width:400px;
  overflow-y:scroll;
  overflow-x:hidden;
  position:relative;
  height: 175px;
  outline: 5px solid lightseagreen;
  outline-offset: 5px;
  word-wrap: break-word;
}

.messages-box {
  margin: 5px 0;
  padding: 10px;
  height: 175px;
}

label {
  margin-top: 10px;
}

