<body>
<div id="main-content" class="container">
  <p>
    <label>Type your message and hit Enter key to send!</label><br><br>
    <textarea name="message" rows="3" cols="50" (keyup.enter)="sendMessage($event)" [(ngModel)]="message"></textarea>

  <div class="row">
    <table id="conversation" class="table table-striped">
      <h4>Messages</h4>
      <div #messageBox class="messages">
        <div *ngFor="let singleMessage of messages">
          <span class="timestamp"><br>{{singleMessage.timestamp | date: 'short'}}</span><br>
          {{singleMessage.sender + ": " + singleMessage.messageContent}}<br>
          <a *ngIf="singleMessage.sender == currentUser.username">
          <button (click)="editOnClick(singleMessage)">Edit</button>
          <button (click)="deleteMessage(singleMessage.id);">Delete</button>
          </a>
        </div>
      </div>
    </table>
  <br>
  <div *ngIf="editingMessage">
  <label>Edit your message:</label><br><br>
  <textarea id="edit" name="edit" rows="3" cols="50" [(ngModel)]="editedMessage">
    {{messageToEdit.messageContent}}
  </textarea><br>
    <button (click)="editMessage(messageToEdit, editedMessage)">Save</button>

  </div>


</div>
</div>
<br><br><br>
</body>
