.timestamp {
  font-size: .75em;
  color: grey;
}

.messages{
  width:400px;
  overflow-y:scroll;
  overflow-x:hidden;
  position:relative;
  height: 175px;
  outline: 5px solid slateblue;
  outline-offset: 5px;
  word-wrap: break-word;
}
