<div class="container">
  <div class="row">
    <div class="col-md-6">
      <label>
        Search for a user profile:<br>
      <form class="form-inline my-2 my-lg-0">
        <div class="input-group mb-3">
          <input class="form-control" name="query" autocomplete="off" [(ngModel)]="query" type="text" placeholder="Search for users...">
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="button" (click)="search()">Search</button>
            <button class="btn btn-outline-success" type="reset" (click)="loadAllUsers()">Reset</button>
          </div>
        </div>
      </form>
      </label>
      <br>

      <h3>Select a user:</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let user of users"
          [class.selected] ="user === currentProfile"
          (click)="onSelect(user)">
            {{user.firstName}} {{user.lastName}}: {{user.username}}
        </li>
      </ul>
    </div>

    <div class="col-md-6" *ngIf="currentProfile">
      <h3>Profile Detail</h3>
        <p><strong>First Name: </strong>{{currentProfile.firstName}}</p>
        <p><strong>Last Name: </strong>{{currentProfile.lastName}}</p>
        <p><strong>User Name: </strong>{{currentProfile.username}}</p>
        <p><strong>Connected: </strong>{{currentProfile.connected}}</p>
    </div>

  </div>

</div>
