<div class="container">
  <div class="row">
    <div class="col">

      <h2>Channels</h2>

      <label>
        Create a channel:<br>
        <div class="input-group mb-3">
          <input #channelName type="text" class="form-control" placeholder="Channel name" aria-label="Create a channel:"
                 aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="button" id="button-addon2" (click)="add(channelName.value);">
              add
            </button>
          </div>
        </div>
      </label>

      <div class="card border-success mb-3" style="max-width: 20rem;">
        <div class="card-header">Available Channels</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let channel of channels">
            <div *ngIf="!channel.private">
            <a routerLink="/detail/{{channel.id}}" (click)="updateChannel(channel)">{{channel.channelName}}</a>
            <span class="badge badge-light" *ngIf="channel.channelName!='Main Channel'" (click)="delete(channel.id);">delete</span>
            </div>
          </li>
        </ul>
      </div>

    </div>

    <div class="col">
      <div *ngIf="router.url == '/channels'">
        <div class="col">
          <app-private-channels></app-private-channels>
        </div>
      </div>
    </div>

  </div>
</div>

