<body>
<h2>Channels</h2>
<div>
  <label>Create a channel:<br>
  <input #channelName/>
  </label>
  <button (click)="add(channelName.value); channelName.value=''">add</button>
</div>

<ul class="channels">
  <li *ngFor="let channel of channels">
    <a routerLink="/detail/{{channel.id}}" (click)="updateChannel(channel)">
      {{channel.channelName}}
    </a>
    <button *ngIf="channel.channelName!='Main Channel'" (click)="delete(channel.id);">delete</button>
  </li>
</ul>

<app-private-channels></app-private-channels>

</body>

