<div class="container">
  <div class="row">
    <div class="col" *ngIf="channel">
      <h2>{{channel.channelName}}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-info btn-sm btn-block" (click)="goBack()">Return to Channel List</button>
      <button type="button" class="btn btn-info btn-sm btn-block" *ngIf="!subscribed" (click)="addUser(currentUser);">
          Join Channel</button>
      <button type="button" class="btn btn-warning btn-sm btn-block" *ngIf="subscribed && channel.channelName!='Main Channel'" (click)="removeUser(currentUser);">
          Leave Channel</button>

      <div class="card border-success mb-3 w-100">
          <div class="card-header">Channel Members</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let user of channel.users">{{user}}</li>
            </ul>
      </div>
    </div>

    <div class="col">
      <div *ngIf="subscribed">
        <app-chat></app-chat>
      </div>
    </div>

  </div>
</div>
