<h2>Private Messages</h2>

<label>
  Create a private message:<br>
  <form class="form-inline my-2 my-lg-0">
    <div class="input-group mb-3">
      <input class="form-control" name="query" autocomplete="off" [(ngModel)]="query" type="text"
             placeholder="Search for users...">
      <div class="input-group-append">
        <button class="btn btn-outline-success" type="button" (click)="search()">Search</button>
        <button class="btn btn-outline-success" type="reset" (click)="users = []">Reset</button>
      </div>
    </div>
  </form>
</label>

<ul class="list-group list-group-flush">
  <li class="list-group-item" *ngFor="let user of users" (click)="add(user)">
    {{user.firstName}} {{user.lastName}}: {{user.username}}<br>
    <br>
  </li>
</ul>

<!--<div *ngIf="displayChat">-->
<!--<app-chat></app-chat>-->
<!--</div>-->

<div class="card border-success mb-3" style="max-width: 20rem;">
  <div class="card-header">Available Private Messages</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let privateChannel of channels">
      <a routerLink="/detail/{{privateChannel.id}}" (click)="updateChannel(privateChannel)">{{privateChannel.channelName}}</a>
      <span class="badge badge-light" (click)="delete(privateChannel.id);">delete</span>
    </li>
  </ul>
</div>
