<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h2 class="text-break">Welcome
        <span *ngIf="loggedIn">, {{currentUser.username}}!</span>
        <span *ngIf="!loggedIn">! Please login or register.</span></h2>
        <a class="btn btn-success" *ngIf="!loggedIn" routerLink="/login">Login</a>
        <a class="btn btn-success" *ngIf="!loggedIn" routerLink="/register">Create an account</a>
        <div *ngIf="loggedIn">
          <p>Dragon Chat is a great place to catch up with your cohort! Whether it be chatting about the latest episode of Game Of Thrones, or collaborating with the latest group project, it is easy to create a channel to fit your needs!</p>
          <p>To get started, please click on the channel you want to join, or start a new one.</p>
        </div>
    </div>

    <div class="col-md-6" *ngIf="loggedIn">
      <app-channels></app-channels>
    </div>

  </div>
</div>
